<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Game - Create New Hero</title>
    <link rel="shortcut icon" href="/static/icon.png">
    <link rel="stylesheet" type="text/css" href="/static/css/main_menu.css">
</head>
<body>
    <div class="login">
        <br><br><br><br>
        <p>Wprowadź dane:</p>
        <form method="post">
            Podaj login: <input type="text" name="login" placeholder="login">
            <hr>
            Podaj hasło: <input type="password" name="password" placeholder="password">
            <hr>
            Powtórz hasło: <input type="password" name="repeat_password" placeholder="password">
            <hr>
            Podaj nazwę postaci: <input type="text" name="hero_name" placeholder="name">
            <hr><br>
            <button type="submit">Zarejestruj</button>
        </form><br><br><br><br>
        <a href="/" class="link">Powrót do strony głównej</a><br><br>
        {% if error %}
            <p class="error">
                {{ error }}
            </p>
        {% endif %}
        {% if message %}
        {{ message }} <br><br>
        {% endif %}
    </div>
</body>
</html>