<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="shortcut icon" href="/static/icon.png">
    <link rel="stylesheet" type="text/css" href="/static/css/profile.css">
</head>
<body>
    {% extends "menu_2.html" %}
    {% block page_content %}
    <table>
        <tr>
            <td class="hero_description" colspan="3">
                Imię: {{ name }}, level: {{ level }}, exp: {{ exp }} i kasa
            </td>
        </tr>
        <tr>
            <td class="statistics">
                Statystyki:
                <ul>
                    <li>
                        HP: {{ hp }}
                    </li>
                    <li>
                        Mana: {{ mana }}
                    </li>
                    <li>
                        Stamina: {{ stamina }}
                    </li>
                    <li>
                        Armor: {{ armor }}
                    </li>
                    <li>
                        Attack damage: {{ attack_dmg }}
                    </li>
                    <li>
                        Critic damage chance: {{ chance_to_crit }}%
                    </li>
                    <li>
                        Steal chance: {{ chance_to_steal }}%
                    </li>
                    <li>
                        Capacity: {{ capacity }}
                    </li>
                </ul>
            </td>
            <td class="equipment">
                {% if inventory %}
                {% for element in inventory %}
                <ul>
                    {{ element }}
                </ul>
                {% endfor %}
                {% else %}
                    Nie ma elementów
                {% endif %}

            </td >
            <td class="backpack">
                {% if backpack %}
                {% for element in backpack %}
                <img src="data:;base64,{{ element[0] }}" height="50px" width="50px" title="{{ element[1] }}">
                <br>
                {% endfor %}
                {% else %}
                    Nie ma elementów
                {% endif %}
            </td>
        </tr>
    </table>
    {% endblock %}
</body>
</html>