<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Game - Shop</title>
    <link rel="stylesheet" type="text/css" href="/static/css/shop.css">
</head>
<body>
    {% extends "menu.html" %}
    {% block page_content %}
    <div class="inventory">
        <p class="shop_info">Kupno typu przedmiotu który już posiadasz będzie skutkowało sprzedażą posiadanego przedmiotu za 75% wartości i zastąpienie go nowym</p>
        <div class="data">
            <div class="money">
                Pieniądze: {{ money }}$
                {% if error %}
                <p class="error">{{ error }}</p>
                {% endif %}
            </div>
            <div class="shop_menu">
                <ul>
                    <hr><li>
                        <a class="link" href="/shop/Weapon">Bronie</a>
                    </li><hr>
                    <li>
                        <a class="link" href="/shop/Shield">Tarcze</a>
                    </li><hr>
                    <li>
                        <a class="link" href="/shop/Armor">Zbroje</a>
                    </li><hr>
                    <li>
                        <a class="link" href="/shop/Helmet">Hełmy</a>
                    </li><hr>
                    <li>
                        <a class="link" href="/shop/Legs">Spodnie</a>
                    </li><hr>
                    <li>
                        <a class="link" href="/shop/Boots">Buty</a>
                    </li><hr>
                    <li>
                        <a class="link" href="/shop/Consumable">Użytkowe</a>
                    </li><hr>
                </ul>
            </div>
        </div>
        <div class="items">
            <br>
            {% for item in inventory %}
            <ul>
                <li>
                    <img class="item" src="data:;base64,{{ item[0] }}">
                    <div class="description_area">
                        <div class="item_description">
                            Nazwa: {{ item[1] | replace('_', ' ')}}<br>
                        </div>
                        <div class="item_description">
                            Bonus: {{ item[2] | replace('_', ' ')}}<br>
                        </div>
                        <div class="item_description">
                            Cena: {{ item[4] }}$<br>
                        </div>
                    </div>
                    <div class="button">
                        <form method="post">
                            <button name="item" value="{{ item[1] }},{{ item[3] }}" type="submit">kup</button>
                        </form>
                    </div>
                </li>
            </ul>
            {% endfor %}
        </div>
    </div>
    {% endblock %}
</body>
</html>