<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Name Your Hero</title>
    <link rel="shortcut icon" href="/static/icon.png">
    <style>
        body {
        background-image: url("/static/background.jpg");
        margin: 0;
        position: absolute;
        top: 40%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        }
        p {
        font-size: 30px;
        }
    </style>
</head>
<body>
    <p>CHOOSE YOUR NAME:</p>
    <form action="/profile">
        <input type="text" name="name" placeholder="NAME">
        <input type="submit" value="SUBMIT">
    </form>
</body>
</html>