{% block links %}
    <table border="1 px solid black" width="100%">
        <tr>
            <td height="60px" width="25%">
                <form action="/profile" method="post">
                    <input type="submit" value="PROFILE">
                </form>
            </td>
            <td width="25%">
                Sklep
            </td>
            <td width="25%">
                Wyprawa
            </td>
            <td width="25%">
                Questy
            </td>
        </tr>
    </table>
{% endblock %}
{% block page_content %}
{% endblock %}