<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="shortcut icon" href="/static/icon.png">
    <style>
        body {
        background-image: url("/static/background.jpg");
        height: 100%;
        }
        table {
        table-layout: auto;
        width: 100%;
        }
    </style>
</head>
<body>
    {% extends "menu.html" %}
    {% block page_content %}
    <table border="1 px solid black" width="100%">
        <tr>
            <td colspan="3" height="80px">
                Imię: {{ name }}, level: {{ level }}, exp: {{ exp }} i kasa
            </td>
        </tr>
        <tr>
            <td height="450px" width="25%">
                Statystyki:
                <ul type="square">
                    <li>
                        HP: {{ hp }}
                    </li>
                    <li>
                        Mana: {{ mana }}
                    </li>
                    <li>
                        Stamina: {{ stamina }}
                    </li>
                    <li>
                        Armor: {{ armor }}
                    </li>
                    <li>
                        Attack damage: {{ attack_dmg }}
                    </li>
                    <li>
                        Critic damage chance: {{ chance_to_crit }}%
                    </li>
                    <li>
                        Steal chance: {{ chance_to_steal }}%
                    </li>
                    <li>
                        Capacity: {{ capacity }}
                    </li>
                </ul>
            </td>
            <td width="30%">
                Ekwipunek
            </td >
            <td width="45%">
                Plecak
            </td>
        </tr>
    </table>
    {% endblock %}
</body>
</html>