body {
    background-image: url("/static/background.jpg");
    }
table.regular {
    width: 100%;
    }
table.regular td {
    border: 1px solid black;
    }
table.regular td.statistics {
    width: 25%;
    }
table.regular td.equipment {
    width: 30%;
    }
table.regular td.backpack {
    width: 45%;
    }
table.equipment td {
    text-align: center;
    border: non;
    }
table.equipment td.empty {
    border: none;
    }