body {
    background: url("/static/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin: 0;
    height: 100%;
    }
table.regular {
    width: 100%;
    border-spacing: 15px;
    }
table.regular td {
    border-radius: 2%;
    border: 1px solid black;
    background: RGBA(156, 152, 142, 0.5);
    }
table.regular td.statistics {
    width: 25%;
    }
table.regular td.equipment {
    width: 30%;
    }
table.regular td.backpack {
    width: 45%;
    }
table.inventory {
    overflow: hidden;
    white-space: nowrap;
    table-layout: fixed;
    }
table.inventory td {
    text-align: center;
    width: 33%;
    }
table.inventory td.empty {
    border: none;
    }
img.inventory {
    opacity: 100%;
    height: 105px;
    width: 100px;
    }
img:hover {
    opacity: 70%;
    }
